# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# MacOS
.DS_Store

#debug/test scripts
debug_xml.py
debug_xml_header.py
test_full_fields.py

# Personal 
invoice_history.json
.invoice_counter
assets/logo.png
*.png
transactions.json